*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    cursor: pointer;
}

#container{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

#header{
   display: flex;
   width: 100%;
   height: 80px;
   padding: 0 30px;
   /* margin-top: 2px; */
   background-color: red;
   justify-content: space-between;
   align-items: center;
}

#header>a img{
    width: 151px;
    height: 130px;
}

.header-title{
    text-align: left;
    margin-bottom: 20px;
}

.header-title h2{
    font-size: 25px;
    color: #f00;
}

nav{
    width: 100%;
    height: 40px;
    background-color: #252525;
}

main{
    width: 1050px;
    margin: auto;
}

article{
    border-radius: 6px;
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    padding-top: 2px;
}


.title-new-1{   
    border: 1px solid #ddd;
    padding: 75px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #ddd;
}

.title-new-1 h1{
   padding: 25px;
   font-size: 18px;
   font-weight: 600;
   margin-bottom: 20px;
   text-align: left;
   margin-top: 5px;
}

.title-new-1 .form-group{
    margin: 10px 0;
}

.title-new-1 .form-control{
    width: 100%;
    height: 80px;
    padding: 5px;
    outline: none;
    border: 1px solid gray;
    border-radius: 2px;
    margin: 5px 0;
}

.title-new-1 .form-button{
    padding: 8px 30px;
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: red;
    color: #fff;
    float: right;
}
#menu {
    list-style: none;
    display: flex;
}

#menu .item{
    margin: 0 25px;
}

#menu .item a{
    color: white;
    text-decoration: none;
}

.search-bar {
    display: flex;
    width: 500px;
    padding: 10px;
    border-radius: 15px;
    position: relative;
}

.search-box-input{
    flex: 1;
    padding: 7px;
    border: 1px solid #fff;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #000;
}

.search-box-btn{
   position: absolute;
   width: 55px;
   height: 32px;
   padding: 5px;
   right: 0;
   border: none;
   outline: none;
   border-radius: 1px 0 0 1px;
   background-color: gray;
}

.menu{
    text-align: center;
    font-variant: small-caps;
    position: relative;
}  

.menu>ul>li{
    display: inline-block;
    line-height: 20px;
    padding: 10px;
    position: relative;
}
.menu ul ul {
    display: none;
    position: absolute;
    margin: 5px;
    margin-top: 11px;
    width: 290px;
    padding: 10px;
    border-radius: 1px;
    background-color: #252525;
    list-style: none;
    text-align: left;
    z-index: 1;
}
.menu>ul>ul> a{
    display: block;
    line-height: 30px;
    color: gray;
    text-decoration: none;
    padding-top: 0px;
    padding: 10px;
}

.menu>ul>li> a{
    text-decoration: none;
    color: white;
    display: block;
}
.menu>ul>li>a:hover{
    color: gray;
}

.menu>ul>li:hover>ul{
    display: block;
}

.menu ul ul a {
    color: white;
    text-decoration: none;
  }

.menu>ul>ul>li:hover{
    border-radius: 10px;
    background-color: red;
}

.menu ul ul > li:hover> a{
    color: red;
}

.text-center{
    text-align: center;
}

.product-container{
    display: flex;
    flex-wrap: wrap;
    float: left;
    justify-content: space-between;
}

.product{
    width: 220px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 5px grey;
    text-align: center;
    padding: 1px;
    margin-top: 20px;
    position: relative; 
}

.product>.name{
    font-size: large;
    margin-bottom: 5px;
}

.product>img{
    width: 100px;
    height: 100px;
    /* margin-bottom: 10px; */
}

.product>.price {
    font-size: large;
    color: #f00;
    margin-bottom: 5px;
}

.product>.discount {
    font-size: 16px;
    color: #008000;
    margin-bottom: 5px;
}

.product>.time {
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
}

.product>.payment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.product>.payment img {
    width: 25px;
    height: auto;
    margin-right: 5px;
}

.product> .promotion {
    font-size: 14px;
    color: #000;
    margin-bottom: 10px;
}
.product>.add {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
footer{
    background-color:  rgb(147, 29, 21);
    padding: 20px;
    color: white;
    margin-top: 10px;
}

.footer-content {
   margin-top: 10px;
    width: 300px;
    text-align: justify;
}

.footer-top {
    display: flex;
    justify-content: space-evenly;
}

.footer-title {
    border-bottom: 3px solid #4a4a4a70;
}

.footer-bottom {
    padding: 20px;
    margin-top: 10px;
    text-align: center;
}

.breadcrumb {
    margin-top: 10px;
    margin-left: 20px;
}

.breadcrumb .breadcrumb-item {
    text-decoration: none;
    font-size: var(--font-content);
    color: blue;
    text-transform: uppercase;
}

.breadcrumb .active {
    color: blue;
    font-weight: 500;
}


.flex-box{
    border: 1px solid #ddd;
    box-shadow: 2px 2px 4px #ddd;
    display: flex;
    width: 1050px;
    padding: 50px;
    margin: 20px auto;
    margin-top: 70px;
}

.left{
    width: 40%;
}

.big-img{
    width: 250px;
}

.big-img img{
    width: inherit;
}

.images{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 15px;
}

.small-img{
    width: 50px;
    overflow: hidden;
    border: 1.5px solid black;
}

.small-img img{
    width: inherit;
    cursor: pointer;
    transition: all 0.3s ease;
}

.small-img:hover img{
    transform: scale(1.2);
}

.pname{
    font-size: 22px;
    font-weight: 600;
    margin-top: 50px;
}

.price{
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0;
}
.size{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.size p{
    font-size: 18px;
    font-weight: 500;
}
.psize{
    width: 60px;
    height: 30px;
    border: 1px solid #ff5e00;
    color: #000;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
}

.psize:hover{
   background-color: #ff5e00;
}

.quantity{
    display: flex;
}
.quantity p{
    font-size: 18px;
    font-weight: 500;
}
.quantity input{
    width: 40px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    margin-left: 15px;
}
.btn-box{
    display: flex;
    margin-top: 40px;
}
.btn-box button{
    font-size: 18px;
    padding: 8px 25px;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
}
.cart-btn{
    background-color: #ff5e00;
    margin-right: 20px;
}
.buy-btn{
    background-color: #00aeff;
}
.cart-btn:hover{
    background-color: #ff3c00;
}
.buy-btn:hover{
    background-color: #0066ff;
}






